* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    padding-bottom: 33px
}
#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto; 
    margin-right: auto;
}
#content .section-heading {
    padding-top: 49px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bolder;
}
#content .section-text {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; 
    opacity: 0.6;
}
#content .section-text-form {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4 ;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.contact-content {
    text-align: center;
    padding-left: 195px;
    padding-top: 15px;
    font-size: 15px;
}

.form-submit-btn {
    padding: 25px 137px;
    float: right;
}
.btn-1 {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 15px;
    width: 50px;
}
.btn-2 {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 15px;
    width: 50px;
}
button, input {
    overflow: visible;
    margin-bottom: 7px;
}
select {
    word-wrap: normal;
    margin-bottom: 7px;
}
.form-content
{
    border: #000 1px solid;
    width: 420px;
    height: 410px;
    text-align: right;
}
#khung
{
    text-align: left;
}
